* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f626ccc;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background.png);
    background-position: center;
    padding: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Равномерное распределение пространства */
    width: 100%;
}

  #label-and-icon {
      width: 200px;
      font-size: 20px;
      margin-left: 100px;
  }

  #img-account {
      width: 70px;
      margin-left: 15px;
      margin-right: 100px;
  }

.search-filters {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: rgba(230, 249, 247, 0.8);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    height: 7rem;
    text-align: center;
}

.filter select {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
  width: 110%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  appearance: none;
  margin: 10px;
}

  .filter select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .filter select option[value=""][disabled] {
    display: none;
  }

#filter-date {
  display: flex;
  justify-content: space-between;
}

  .check-departure-date-interval {
    margin: auto;
  }

  .check-departure-date-checkbox-and-label {
    display: flex;
    text-align: center;
    margin: 10px;
  }

  .dates {
    margin: auto;
    margin-left: 20px;
  }

  #departure-date {
    height: 1.7rem;
  }


  #departure-date-start, #departure-date-end {
    height: 1.7rem;
    margin-bottom: 5px;
  }


.button {
    background-color: rgba(68, 161, 177, 0.8);
    border: none;
    border-radius: 15px; /* Закругленные углы */
    color: rgb(255, 255, 255); /* Белый текст */
    font-size: 1rem; /* Уменьшили размер текста */
    width: 150px;
    margin-top: 15px;
    margin-right: 20px;
    transition: all 0.3s ease; /* Плавные переходы */
    position: relative;
    text-transform: uppercase; /* Текст в верхнем регистре */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Тень */
    width: 250px;
    height: 40px;
    animation: moveInBottom 0.5s ease-out; /* Применяем анимацию */
    animation-fill-mode: backwards;
}

    .button:hover {
        transform: translateY(-3px); /* Поднимаем кнопку при наведении */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Увеличиваем тень */
    }

    .button:active {
        transform: translateY(4px); /* Кнопка "проваливается" при нажатии */
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Уменьшаем тень при нажатии */
    }

.content {
    width: 80%;
    padding: 20px;
    background-color: rgba(230, 249, 247, 0.8);
    border-radius: 15px;
    text-align: center;
}

/* Стили для каждого маршрута */
.route-container {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(248, 255, 254, 0.8);
}

    /* Стили для заголовков и информации внутри маршрута */
    .route-container p {
        margin: 5px 0;
        font-size: 14px;
    }


.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card-header {
    background-color: rgba(230, 249, 247, 0.8);
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 15rem;
    text-align: center;
  }

  .points {
    display: flex;
    margin: 20px;
  }

  .points div {
    margin: auto;
  }

  .departure-destination {
    background-color: rgba(230, 249, 247, 0.8);
    width: 300px;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 15px;
  }

  .departure-destination h2 {
    margin: 5px;
  }

  .time-in-route-arrow {
    display: grid;
  }

  .time-in-route-arrow h2, svg {
    margin: 0px;
  }

  
  .card-body {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .card-body h {
    margin: 15px 30px;
  }

  .card-body button {
    margin: 0px 15px;
    width: 200px;
    height: 45px;
  }
  
  .transport-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .card-header h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #44A1B1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #368999;
}
  